<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
#example
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
#example
my_int = 2494341241

print(my_int)
print(type(my_int))

90
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
#example
my_string = "929321"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
#example
my_string = "242141"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
#example
my_bool = True
print(my_bool)
print(type(my_bool))

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
#example
print("Suma ", 3+3)
print("Resta ", 6-4)
print("Multiplicacion ", 4*8)
print("Division ", 45/5)
print('Potenica', 2**5)

Suma  6
Resta  2
Multiplicacion  32
Division  9.0
Potenica 32

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [ ]:
#example
print(532/2)
print(3.141/2)

266.0
1.5705

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
#example
my_list = ['I', 'love', 'Python', 3,2,1]
print(my_list)

['I', 'love', 'Python', 3, 2, 1]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [ ]:
#example
my_list = ['I', 'love', 'Python', 3,2,1]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

6
I
1

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
#example
my_list = ['I', 'love', 'Python', 3,2,1]
my_list[2] = 'C++'
print(my_list)

['I', 'love', 'C++', 3, 2, 1]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
#example
my_list = ['Love', 'Python', 3,2,1]
print(my_list[1:3])

['Python', 3]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Python', 3, 2, 1]

In [ ]:
#example
print(my_list[2:])

[3, 2, 1]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Love', 'Python', 3, 2]

In [ ]:
#example
print(my_list[:4])

['Love', 'Python', 3, 2]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
#example
my_list = ['Python', 'C++']
my_list.append('Java')
print(my_list)

['Python', 'C++', 'Java']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [ ]:
#example
my_list.remove('C++')
print(my_list)

['Python', 'Java']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [ ]:
#example
my_tuple = ('Java', 'Python', 'C++')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
#example
my_tuple = ('Java', 'Python', 'C++', 'C#', 'Javascript')
print(my_tuple[2:])

('C++', 'C#', 'Javascript')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'F', 'GOOG', 'IBM', 'AAPL'}

In [ ]:
#example
language_list = ['Java', 'Python', 'C++', 'C#', 'Javascript', 'Java', 'Python', 'C++']
language_set = set(language_list)
print(language_set)

{'Java', 'Javascript', 'C++', 'Python', 'C#'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [ ]:
#example
my_dic = {'UNAL':'Universidad Nacional', 'USTA':'Universidad Santo Tomas', 'UPTC':'Universidad Pedagogica y Tecnologica'}

In [ ]:
#example
print(my_dic['UNAL'])

Universidad Nacional

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
#example
my_dic['UNAL'] = 'Universidad Nacional de Colombia'
print(my_dic['UNAL'])

Universidad Nacional de Colombia

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
#example
print(my_dic.keys())

dict_keys(['UNAL', 'USTA', 'UPTC'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
#example
my_str = 'I love Python'
print(my_str[7:])

Python

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [ ]:
#example
print('Cuantas veces aparece la letra e en esta oracion'.count('e'))
print('Encontrar la primera vez que aparece la letra a en esta oracion'.find('a'))
print('Todas las letras a en esta oracion se converten en e'.replace('a','e'))

8
7
Todes les letres e en este orecion se converten en e

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
#example
Time = '2021-19-10 12:39:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
minutes = time.split(':')[1]
print(minutes)

2021-19-10 12:39:00
39

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [ ]:
#example
my_time = 'Hour: {}, Minute: {}'.format('12','39')
print(my_time)

Hour: 12, Minute: 39

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [ ]:
#example
print('8 multiplicado por 10 es %i'%80)
print('%s or %s'%('Python','Java'))

8 multiplicado por 10 es 80
Python or Java

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

# **TUTORIAL 2**


# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [ ]:
#example
print(5 == 10)
print(6 == 6)
print(3 != 9)
print(10 >= 5)
print(1 >= 6)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
#example
print(8 > 4 and 10 > 5)
print(10 > 2 and 100 < 20) 
print(10 > 2 or 19 < 2)
print(2 < -1 and 25 < 5)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
#example
print((142 > 42 or -14 < 8) and (8!=5 and 49321>922) and not ( 42 < 15 or -14 < 7 and (92!=46 and 42>19)))
print( 142 > 42 or -14 < 8 and (8!=5 and 49321>922) and not ( 42 < 15 or -14 < 7 and (92!=46 and 42>19)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [ ]:
#example
k = 8
if k == 8:
    print('k==8 is True')

k==8 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [ ]:
#example
p = 9 > 12
q = 1 > 2
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

None of p and q is true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
#example
i = 0
while i < 6:
    print(i**2)
    i += 1

0
1
4
9
16
25

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
#example
for i in [6,5,4,3,2,1]:
    print(i)

6
5
4
3
2
1

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
#example
language_list = ['Java', 'Python', 'C++', 'C#', 'Javascript', 'R']
selected = ['C++', 'C#']
new_list = []
for i in language_list:
    if i not in selected:
        new_list.append(i)
print(language_list)
print(new_list)

['Java', 'Python', 'C++', 'C#', 'Javascript', 'R']
['Java', 'Python', 'Javascript', 'R']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [ ]:
#example
language_list = ['Java', 'Python', 'C++', 'C#', 'Javascript', 'R']
for i in language_list:
    print(i)
    if i == 'C#':
        break

Java
Python
C++
C#

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
#example
language_list = ['Java', 'Python', 'C++', 'C#', 'Javascript', 'R']
for i in language_list:
    if i == 'C#':
        continue
    print(i)

Java
Python
C++
Javascript
R

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
#example
cubes = []
for i in [1,2,3,4,5]:
    cubes.append(i**3)
print(cubes)

[1, 8, 27, 64, 125]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
#example
list = [1,2,3,4,5]
cubes = [x**3 for x in list]
print(cubes)

[1, 8, 27, 64, 125]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [ ]:
#example
language_list = ['Java', 'Python', 'C++', 'C#', 'Javascript', 'R']
selected = ['C++','C#', 'PHP']
new_list = [x for x in language_list if x in selected]
print(new_list)

['C++', 'C#']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [ ]:
#example
print([(x, y) for x in [45,46,47] for y in [45,98,46] if x != y])
print([str(x)+' vs '+str(y) for x in ['Java', 'Python', 'C++'] for y in ['C#', 'Javascript', 'R'] if x!=y])

[(45, 98), (45, 46), (46, 45), (46, 98), (47, 45), (47, 98), (47, 46)]
['Java vs C#', 'Java vs Javascript', 'Java vs R', 'Python vs C#', 'Python vs Javascript', 'Python vs R', 'C++ vs C#', 'C++ vs Javascript', 'C++ vs R']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

# **TUTORIAL 3**

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [ ]:
#example
def division(x,y):
    return x/y
print(division(9,3))
print(division(25,5))

3.0
5.0

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [ ]:
#example
def saludo():
    print("Hola, cómo estás?")
saludo()

Hola, cómo estás?

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [ ]:
#example
print(range(14))
print(range(4,16))
print(range(4,8,5))

range(0, 14)
range(4, 16)
range(4, 8, 5)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [ ]:
#example
language_list = ['Java', 'Python', 'C++', 'C#', 'Javascript', 'R']
print('La longitud de la lista de lenguajes es {}'.format(len(language_list)))
for i in range(len(language_list)):
    print(language_list[i])

La longitud de la lista de lenguajes es 6
Java
Python
C++
C#
Javascript
R

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
#example
language_list = ['Java', 'Python', 'C++', 'C#', 'Javascript', 'R']
print(list(map(len, language_list)))

[4, 6, 3, 2, 10, 1]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#example
list(map(lambda x: x**3, range(6) ))

[0, 1, 8, 27, 64, 125]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [ ]:
#example
list(map(lambda x, y: x*y, [6,5,4,3,2,1],[2,4,8,12,16,20]))

[12, 20, 32, 36, 32, 20]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [ ]:
#example
sorted([93,51,61,72,57,53,75,25,12])

[12, 25, 51, 53, 57, 61, 72, 75, 93]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
#example
lista_edad = [('Juan', 18),('Maria', 19),('Santiago', 17),('Sofia', 20)]
sorted(lista_edad, key = lambda x: x[1])

[('Santiago', 17), ('Juan', 18), ('Maria', 19), ('Sofia', 20)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [ ]:
#example
lista_edad = [('Juan', 18),('Maria', 19),('Santiago', 17),('Sofia', 20)]
sorted(lista_edad, key = lambda x: x[1], reverse = True)

[('Sofia', 20), ('Maria', 19), ('Juan', 18), ('Santiago', 17)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
#example
lista_edad = [('Juan', 18),('Maria', 19),('Santiago', 17),('Sofia', 20)]
lista_edad.sort(key = lambda x: x[1])
print(lista_edad)

[('Santiago', 17), ('Juan', 18), ('Maria', 19), ('Sofia', 20)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [ ]:
#example
twitter = stock('TWTR', 66.98, 68.32, 34152252)
facebook = stock('FB', 341.8, 335.32, 53125328)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.0006573181419806673
0.0006573181419806673

In [ ]:
#example
facebook.ticker
twitter.print_return()
twitter.update(67.23, 64.21)
twitter.print_return()

-0.04492042243046279
-0.04492042243046279

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [ ]:
#example
facebook.ceo = 'Mark Zuckerberg'
facebook.ceo

'Mark Zuckerberg'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [ ]:
#example
dir(facebook)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [ ]:
#example
bb = child('bb')
print(bb.name)
bb.update(100,102)
print(bb.open)
print(bb.close)
print(bb.print_return())

bb
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

# **TUTORIAL 4**

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [ ]:
#example
language_list = ['Java', 'Python', 'C++', 'C#', 'Javascript', 'Java', 'Python', 'C++']
language_array = np.array(language_list)
print(language_array, type(language_array))

['Java' 'Python' 'C++' 'C#' 'Javascript' 'Java' 'Python' 'C++'] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [ ]:
#example
Array = np.array([['Java', 'Python'],[12, 44]])
print( Array, type(Array))

[['Java' 'Python']
 ['12' '44']] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

In [ ]:
#example
print(Array.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [ ]:
#example
print(Array[0])
print(Array[1])

['Java' 'Python']
['12' '44']

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [ ]:
#example
print('the first column: ', Array[:,0])
print('the second column: ', Array[:,1])

the first column:  ['Java' '12']
the second column:  ['Python' '44']

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [ ]:
#example
edad_lista = [16,17,18,21,20,17,26]
edad_array = np.array(edad_lista)

print(np.log(edad_array))

[2.77258872 2.83321334 2.89037176 3.04452244 2.99573227 2.83321334
 3.25809654]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [ ]:
#example
print(np.mean(edad_array))
print(np.std(edad_array))
print(np.sum(edad_array))
print(np.max(edad_array))

19.285714285714285
3.1943828249996997
135
26

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [ ]:
#example
edad = [16,17,18,21,20,17,26]
s = pd.Series(edad)
s

0    16
1    17
2    18
3    21
4    20
5    17
6    26
dtype: int64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [ ]:
#example
s = pd.Series(edad, index = ['Juan', 'Maria', 'Andres', 'Santiago', 'Jose', 'David', 'Juana'])
s

Juan        16
Maria       17
Andres      18
Santiago    21
Jose        20
David       17
Juana       26
dtype: int64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
#example
s.index = [1,2,3,4,5,6,7]
s

1    16
2    17
3    18
4    21
5    20
6    17
7    26
dtype: int64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [ ]:
#example
print(s[1:])
print(s[:7])

2    17
3    18
4    21
5    20
6    17
7    26
dtype: int64
1    16
2    17
3    18
4    21
5    20
6    17
7    26
dtype: int64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
#example
print(s[3])
s[3] = 3
print(s)

28
1    16
2    17
3     3
4    21
5    20
6    17
7    26
dtype: int64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [ ]:
#example
s = pd.Series(edad, name = 'Edad de personas')
print(s)
print(s.name)

0    16
1    17
2    18
3    21
4    20
5    17
6    26
Name: Edad de personas, dtype: int64
Edad de personas

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [ ]:
#example
print(s.describe())

count     7.000000
mean     19.285714
std       3.450328
min      16.000000
25%      17.000000
50%      18.000000
75%      20.500000
max      26.000000
Name: Edad de personas, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [ ]:
#example
time_index = pd.date_range('2021-10-20',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2021-10-20', '2021-10-21', '2021-10-22', '2021-10-23',
               '2021-10-24', '2021-10-25', '2021-10-26'],
              dtype='datetime64[ns]', freq='D')
2021-10-20    16
2021-10-21    17
2021-10-22    18
2021-10-23    21
2021-10-24    20
2021-10-25    17
2021-10-26    26
Freq: D, Name: Edad de personas, dtype: int64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [ ]:
#example
s.index = [1,2,3,4,5,6,7]
print(s)
print(s[6])

1    16
2    17
3    18
4    21
5    20
6    17
7    26
Name: Edad de personas, dtype: int64
17

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

In [ ]:
#example
print(s.iloc[2])

18

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03'])

In [ ]:
#example
s.index = time_index
print(s['2021-10-20'])

16

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [ ]:
#example
print(s['2021-10-20':'2021-10-26'])

2021-10-20    16
2021-10-21    17
2021-10-22    18
2021-10-23    21
2021-10-24    20
2021-10-25    17
2021-10-26    26
Freq: D, Name: Edad de personas, dtype: int64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [ ]:
#example
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 3.1416*np.std(s))])

2021-10-20    16
2021-10-21    17
2021-10-22    18
2021-10-25    17
Name: Edad de personas, dtype: int64
[2021-10-20    False
2021-10-21    False
2021-10-22    False
2021-10-23     True
2021-10-24     True
2021-10-25    False
2021-10-26     True
Freq: D, Name: Edad de personas, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

# **TUTORIAL 5**

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 7.5 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=65716e3beb059b5b3863fb187674c226d128df2570657d1f3b62c7a85876a8f2
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [3]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 149.26, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 41, 'targetMeanPrice': 168.35, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.296, 'beta3Year': None, 'enterpriseToEbitda': 22.832, '52WeekChange': 0.28518355, 'morningStarRiskRating': None, 'forwardEps': 5.67, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58676, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3087138, 'priceToBook': 38.449253, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2532822482944, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.1071925, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 26.324514, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 148.76, 'regularMarketOpen': 148.7, 'twoHundredDayAverage': 139.00964, 'trailingAnnualDividendYield': 0.005613068, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.7522, 'navPrice': None, 'averageDailyVolume10Day': 73715885, 'regularMarketPreviousClose': 148.76, 'fiftyDayAverage': 146.31352, 'trailingAnnualDividendRate': 0.835, 'open': 148.7, 'toCurrency': None, 'averageVolume10days': 73715885, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 148.12, 'currency': 'USD', 'trailingPE': 29.22083, 'regularMarketVolume': 58418788, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2467297492992, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 76543137, 'dayLow': 148.12, 'ask': 148.95, 'askSize': 2200, 'volume': 58418788, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 148.85, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 900, 'dayHigh': 149.7522, 'regularMarketPrice': 149.26, 'preMarketPrice': 148.7, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655166  24.291443  23.514540  ...  270597600        0.0             0
2016-01-05  24.379041  24.402094  23.609056  ...  223164000        0.0             0
2016-01-06  23.182565  23.599834  23.023498  ...  273829600        0.0             0
2016-01-07  22.749166  23.083441  22.230463  ...  324377600        0.0             0
2016-01-08  22.719191  22.848290  22.306534  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827749  42.004946  41.784649  ...   65397600        0.0             0
2017-12-26  40.898678  41.059112  40.630488  ...  132742000        0.0             0
2017-12-27  40.731058  40.893884  40.637671  ...   85992800        0.0             0
2017-12-28  40.946564  41.150101  40.822048  ...   65920800        0.0             0
2017-12-29  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[503 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [4]:
aapl = aapl_table['Close']['2017']

In [5]:
print(aapl)

Date
2017-01-03    27.372358
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
                ...
2017-12-22    41.906769
2017-12-26    40.843605
2017-12-27    40.850784
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [6]:
print(aapl['2017-3'])

Date
2017-03-01    33.086285
2017-03-02    32.889839
2017-03-03    33.083916
2017-03-06    32.979786
2017-03-07    33.022381
2017-03-08    32.899300
2017-03-09    32.823559
2017-03-10    32.932434
2017-03-13    32.946640
2017-03-14    32.896927
2017-03-15    33.244865
2017-03-16    33.299294
2017-03-17    33.133629
2017-03-20    33.481556
2017-03-21    33.098114
2017-03-22    33.472080
2017-03-23    33.353745
2017-03-24    33.287472
2017-03-27    33.344273
2017-03-28    34.035400
2017-03-29    34.111137
2017-03-30    34.066166
2017-03-31    34.002254
Name: Close, dtype: float64

In [7]:
#example
print(aapl['2017-6'])

Date
2017-06-01    36.405159
2017-06-02    36.944653
2017-06-05    36.583405
2017-06-06    36.706985
2017-06-07    36.925632
2017-06-08    36.835327
2017-06-09    35.406967
2017-06-12    34.560886
2017-06-13    34.838955
2017-06-14    34.499096
2017-06-15    34.292336
2017-06-16    33.812260
2017-06-19    34.779541
2017-06-20    34.463451
2017-06-21    34.667835
2017-06-22    34.610802
2017-06-23    34.765285
2017-06-26    34.655956
2017-06-27    34.159237
2017-06-28    34.658340
2017-06-29    34.147358
2017-06-30    34.228161
Name: Close, dtype: float64

In [8]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289877
2017-02-03    30.419493
2017-02-06    30.704647
2017-02-07    30.996870
                ...
2017-04-24    33.997520
2017-04-25    34.208176
2017-04-26    34.006992
2017-04-27    34.033031
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

In [9]:
#example
aapl['2017-3':'2017-8']

Date
2017-03-01    33.086285
2017-03-02    32.889839
2017-03-03    33.083916
2017-03-06    32.979786
2017-03-07    33.022381
                ...
2017-08-25    38.141941
2017-08-28    38.526077
2017-08-29    38.869656
2017-08-30    38.974644
2017-08-31    39.129726
Name: Close, Length: 129, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372358
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787128
2017-01-09    28.041649
Name: Close, dtype: float64
Date
2017-12-15    41.657734
2017-12-18    42.244408
2017-12-19    41.794231
2017-12-20    41.748730
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843605
2017-12-27    40.850784
2017-12-28    40.965721
2017-12-29    40.522728
Name: Close, dtype: float64

In [10]:
#example
print(aapl.head(3))
print(aapl.tail(8))

Date
2017-01-03    27.372358
2017-01-04    27.341724
2017-01-05    27.480768
Name: Close, dtype: float64
Date
2017-12-19    41.794231
2017-12-20    41.748741
2017-12-21    41.906769
2017-12-22    41.906769
2017-12-26    40.843605
2017-12-27    40.850784
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [12]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178331
2017-02-28    31.606277
2017-03-31    33.282220
2017-04-30    33.819262
2017-05-31    36.125684
2017-06-30    35.133983
2017-07-31    35.245242
2017-08-31    37.897229
2017-09-30    37.604737
2017-10-31    37.654551
2017-11-30    41.233914
2017-12-31    41.160036
Freq: M, Name: Close, dtype: float64

In [14]:
#example
by_month = aapl.resample('M').mean()
print(by_month.tail())

Date
2017-08-31    37.897229
2017-09-30    37.604737
2017-10-31    37.654551
2017-11-30    41.233914
2017-12-31    41.160036
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495495
2017-01-15    28.097736
2017-01-22    28.266116
2017-01-29    28.553981
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

In [15]:
#example
by_week = aapl.resample('W').mean()
print(by_week)

Date
2017-01-08    27.495496
2017-01-15    28.097735
2017-01-22    28.266115
2017-01-29    28.553979
2017-02-05    29.662541
2017-02-12    31.086281
2017-02-19    31.947355
2017-02-26    32.366763
2017-03-05    32.778593
2017-03-12    32.931492
2017-03-19    33.104271
2017-03-26    33.338593
2017-04-02    33.911846
2017-04-09    34.058586
2017-04-16    33.588650
2017-04-23    33.534568
2017-04-30    34.049122
2017-05-07    34.870419
2017-05-14    36.524843
2017-05-21    36.458391
2017-05-28    36.533967
2017-06-04    36.544188
2017-06-11    36.491663
2017-06-18    34.400706
2017-06-25    34.657383
2017-07-02    34.369810
2017-07-09    34.134289
2017-07-16    34.847991
2017-07-23    35.709753
2017-07-30    36.046281
2017-08-06    36.499269
2017-08-13    37.739791
2017-08-20    38.068449
2017-08-27    37.989234
2017-09-03    38.928351
2017-09-10    38.406775
2017-09-17    38.183452
2017-09-24    37.161304
2017-10-01    36.520441
2017-10-08    36.861152
2017-10-15    37.282036
2017-10-22    37.809812
2017-10-29    37.704832
2017-11-05    40.239671
2017-11-12    41.824803
2017-11-19    40.977215
2017-11-26    41.488325
2017-12-03    41.163988
2017-12-10    40.570143
2017-12-17    41.321546
2017-12-24    41.920181
2017-12-31    40.795711
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max()

Date
2017-01-31    28.739210
2017-02-28    32.451962
2017-03-31    34.111137
2017-04-30    34.264984
2017-05-31    37.099129
2017-06-30    36.944641
2017-07-31    36.471695
2017-08-31    39.129723
2017-09-30    39.141659
2017-10-31    40.332245
2017-11-30    42.050140
2017-12-31    42.244408
Freq: M, Name: Close, dtype: float64

In [16]:
#example
aapl.resample('W').max()

Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279663
2017-01-29    28.739208
2017-02-05    30.419493
2017-02-12    31.341917
2017-02-19    32.122974
2017-02-26    32.451973
2017-03-05    33.086285
2017-03-12    33.022381
2017-03-19    33.299294
2017-03-26    33.481556
2017-04-02    34.111137
2017-04-09    34.264977
2017-04-16    33.886280
2017-04-23    33.713501
2017-04-30    34.208176
2017-05-07    35.256695
2017-05-14    37.099129
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944653
2017-06-11    36.925632
2017-06-18    34.838955
2017-06-25    34.779541
2017-07-02    34.658340
2017-07-09    34.266186
2017-07-16    35.421230
2017-07-23    35.891804
2017-07-30    36.471699
2017-08-06    37.346302
2017-08-13    38.277931
2017-08-20    38.557095
2017-08-27    38.170563
2017-09-03    39.141651
2017-09-10    38.671612
2017-09-17    38.533230
2017-09-24    37.872322
2017-10-01    36.798637
2017-10-08    37.075413
2017-10-15    37.457161
2017-10-22    38.287479
2017-10-29    38.903065
2017-11-05    41.157784
2017-11-12    42.050144
2017-11-19    41.657742
2017-11-26    41.897194
2017-12-03    41.686470
2017-12-10    40.659225
2017-12-17    41.657742
2017-12-24    42.244396
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398284
2017-01-06    27.787128
2017-01-09    28.110777
2017-01-12    28.078175
2017-01-15    28.279665
                ...
2017-12-17    42.019320
2017-12-20    41.854094
2017-12-23          NaN
2017-12-26    40.886703
2017-12-29    40.522728
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495495
2017-01-22    28.172571
2017-02-05    29.108262
2017-02-19    31.516819
2017-03-05    32.595556
2017-03-19    33.017884
2017-04-02    33.625220
2017-04-16    33.849730
2017-04-30    33.791846
2017-05-14    35.697631
2017-05-28    36.496177
2017-06-11    36.515006
2017-06-25    34.529045
2017-07-09    34.265135
2017-07-23    35.278871
2017-08-06    36.272773
2017-08-20    37.904119
2017-09-03    38.458794
2017-09-17    38.282706
2017-10-01    36.840872
2017-10-15    37.071597
2017-10-29    37.757318
2017-11-12    41.032238
2017-11-26    41.204377
2017-12-10    40.867066
2017-12-24    41.620867
2018-01-07    40.795710
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524056
2017-05-31    35.056855
2017-07-31    35.186963
2017-09-30    37.761186
2017-11-30    39.402612
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [18]:
#example
nine_day = aapl.resample('9D').mean()
five_week = aapl.resample('5W').mean()
three_month = aapl.resample('3M').mean()


print(nine_day)
print(five_week)
print(three_month )

Date
2017-01-03    27.759187
2017-01-12    28.203469
2017-01-21    28.553979
2017-01-30    30.002032
2017-02-08    31.620527
2017-02-17    32.318005
2017-02-26    32.812126
2017-03-07    32.966587
2017-03-16    33.303698
2017-03-25    33.911846
2017-04-03    33.957285
2017-04-12    33.491018
2017-04-21    33.986479
2017-04-30    35.094559
2017-05-09    36.581602
2017-05-18    36.471361
2017-05-27    36.544188
2017-06-05    35.979737
2017-06-14    34.446474
2017-06-23    34.435723
2017-07-02    34.202499
2017-07-11    35.267091
2017-07-20    35.953593
2017-07-29    36.499269
2017-08-07    37.913657
2017-08-16    37.921405
2017-08-25    38.797283
2017-09-03    38.432066
2017-09-12    37.907431
2017-09-21    36.491534
2017-09-30    36.861152
2017-10-09    37.549197
2017-10-18    37.462280
2017-10-27    40.016903
2017-11-05    41.796960
2017-11-14    41.040634
2017-11-23    41.286189
2017-12-02    40.570143
2017-12-11    41.520908
2017-12-20    41.370398
2017-12-29    40.522732
Freq: 9D, Name: Close, dtype: float64
Date
2017-01-08    27.495496
2017-02-12    29.169464
2017-03-19    32.636484
2017-04-23    33.690524
2017-05-28    35.687348
2017-07-02    35.240607
2017-08-06    35.502234
2017-09-10    38.219009
2017-10-15    37.201677
2017-11-19    39.711266
2017-12-24    41.284691
2018-01-28    40.795711
Freq: 5W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178331
2017-04-30    32.927480
2017-07-31    35.509648
2017-10-31    37.725094
2018-01-31    41.197876
Freq: 3M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [19]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203369
2017-01-15    0.072530
2017-01-22    0.025552
2017-01-29    0.245287
2017-02-05    0.943260
2017-02-12    0.252004
2017-02-19    0.231389
2017-02-26    0.059347
2017-03-05    0.340091
2017-03-12    0.076289
2017-03-19    0.177835
2017-03-26    0.157266
2017-04-02    0.319809
2017-04-09    0.128690
2017-04-16    0.212475
2017-04-23    0.174672
2017-04-30    0.090026
2017-05-07    0.235641
2017-05-14    0.352980
2017-05-21    0.536094
2017-05-28    0.060392
2017-06-04    0.281224
2017-06-11    0.620036
2017-06-18    0.382562
2017-06-25    0.128893
2017-07-02    0.264112
2017-07-09    0.158891
2017-07-16    0.404280
2017-07-23    0.124988
2017-07-30    0.384445
2017-08-06    0.924394
2017-08-13    0.467466
2017-08-20    0.435250
2017-08-27    0.275763
2017-09-03    0.251725
2017-09-10    0.381638
2017-09-17    0.294140
2017-09-24    0.735195
2017-10-01    0.354844
2017-10-08    0.204859
2017-10-15    0.118731
2017-10-22    0.516998
2017-10-29    0.680457
2017-11-05    0.560683
2017-11-12    0.190975
2017-11-19    0.436197
2017-11-26    0.563043
2017-12-03    0.427443
2017-12-10    0.073130
2017-12-17    0.205267
2017-12-24    0.194120
2017-12-31    0.190393
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279663
2017-01-29    28.739208
2017-02-05    30.419493
2017-02-12    31.341917
2017-02-19    32.122974
2017-02-26    32.451973
2017-03-05    33.086285
2017-03-12    33.022381
2017-03-19    33.299294
2017-03-26    33.481556
2017-04-02    34.111137
2017-04-09    34.264977
2017-04-16    33.886280
2017-04-23    33.713501
2017-04-30    34.208176
2017-05-07    35.256695
2017-05-14    37.099129
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944653
2017-06-11    36.925632
2017-06-18    34.838955
2017-06-25    34.779541
2017-07-02    34.658340
2017-07-09    34.266186
2017-07-16    35.421230
2017-07-23    35.891804
2017-07-30    36.471699
2017-08-06    37.346302
2017-08-13    38.277931
2017-08-20    38.557095
2017-08-27    38.170563
2017-09-03    39.141651
2017-09-10    38.671612
2017-09-17    38.533230
2017-09-24    37.872322
2017-10-01    36.798637
2017-10-08    37.075413
2017-10-15    37.457161
2017-10-22    38.287479
2017-10-29    38.903065
2017-11-05    41.157784
2017-11-12    42.050144
2017-11-19    41.657742
2017-11-26    41.897194
2017-12-03    41.686470
2017-12-10    40.659225
2017-12-17    41.657742
2017-12-24    42.244396
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227823
2017-01-29    28.272596
2017-02-05    28.597811
2017-02-12    30.704647
2017-02-19    31.547836
2017-02-26    32.314690
2017-03-05    32.409363
2017-03-12    32.823559
2017-03-19    32.896927
2017-03-26    33.098114
2017-04-02    33.344273
2017-04-09    33.926510
2017-04-16    33.384510
2017-04-23    33.296932
2017-04-30    33.997520
2017-05-07    34.681545
2017-05-14    36.215263
2017-05-21    35.708797
2017-05-28    36.443180
2017-06-04    36.305336
2017-06-11    35.406967
2017-06-18    33.812260
2017-06-25    34.463451
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475342
2017-07-23    35.544819
2017-07-30    35.530544
2017-08-06    35.347549
2017-08-13    37.058716
2017-08-20    37.578854
2017-08-27    37.509663
2017-09-03    38.526077
2017-09-10    37.848461
2017-09-17    37.764950
2017-09-24    36.240322
2017-10-01    35.920612
2017-10-08    36.619690
2017-10-15    37.182781
2017-10-22    37.216190
2017-10-29    37.261520
2017-11-05    39.778702
2017-11-12    41.575325
2017-11-19    40.486816
2017-11-26    40.702324
2017-12-03    40.582596
2017-12-10    40.470051
2017-12-17    41.114174
2017-12-24    41.748741
2017-12-31    40.522732
Freq: W-SUN, Name: Close, dtype: float64

In [20]:
#example
std = aapl.resample('M').std()
max = aapl.resample('M').max()
min = aapl.resample('M').min()


print(std)
print(max)
print(min)

Date
2017-01-31    0.425088
2017-02-28    0.773848
2017-03-31    0.407928
2017-04-30    0.291040
2017-05-31    0.760192
2017-06-30    1.053872
2017-07-31    0.774825
2017-08-31    0.767476
2017-09-30    0.943679
2017-10-31    0.946221
2017-11-30    0.638005
2017-12-31    0.551569
Freq: M, Name: Close, dtype: float64
Date
2017-01-31    28.739208
2017-02-28    32.451973
2017-03-31    34.111137
2017-04-30    34.264977
2017-05-31    37.099129
2017-06-30    36.944653
2017-07-31    36.471699
2017-08-31    39.129726
2017-09-30    39.141651
2017-10-31    40.332253
2017-11-30    42.050144
2017-12-31    42.244396
Freq: M, Name: Close, dtype: float64
Date
2017-01-31    27.341724
2017-02-28    30.289877
2017-03-31    32.823559
2017-04-30    33.296932
2017-05-31    34.681545
2017-06-30    33.812260
2017-07-31    33.921577
2017-08-31    35.661270
2017-09-30    35.920612
2017-10-31    36.619690
2017-11-30    39.819260
2017-12-31    40.470051
Freq: M, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597816
2017-02-28    32.423576
2017-03-31    34.002254
2017-04-30    33.999889
2017-05-31    36.305332
2017-06-30    34.228161
2017-07-31    35.347557
2017-08-31    39.129723
2017-09-30    36.772392
2017-10-31    40.332245
2017-11-30    41.150105
2017-12-31    40.522728
Freq: M, Name: Close, dtype: float64

In [21]:
#example
last_day_semestre = aapl.resample('6M').agg(lambda x: x[-1])
print(last_day_semestre)

Date
2017-01-31    28.597811
2017-07-31    35.347549
2018-01-31    40.522732
Freq: 6M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060531
2017-10-31    0.099019
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [23]:
#example
semestre_return = aapl.resample('6M').agg(lambda x: x[-1]/x[0] - 1)
print(semestre_return)

Date
2017-01-31    0.044770
2017-07-31    0.164981
2018-01-31    0.136323
Freq: 6M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863264084197352
0.05225865308159278
0.09901852037224312

In [24]:
#example
print(semestre_return.mean())
print(semestre_return.std())
print(semestre_return.max())

0.11535816069084033
0.06278829969384592
0.164981487387039

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825760
2017-03-31    1.578678
2017-04-30   -0.002365
2017-05-31    2.305443
2017-06-30   -2.077171
2017-07-31    1.119396
2017-08-31    3.782166
2017-09-30   -2.357330
2017-10-31    3.559853
2017-11-30    0.817860
2017-12-31   -0.627377
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [25]:
#example
print(last_day_semestre.diff())
print(last_day_semestre.pct_change())

Date
2017-01-31         NaN
2017-07-31    6.749739
2018-01-31    5.175182
Freq: 6M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-07-31    0.236023
2018-01-31    0.146409
Freq: 6M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [26]:
#example
daily_return_semestre = last_day_semestre.pct_change()
print(daily_return_semestre.fillna(0))

Date
2017-01-31    0.000000
2017-07-31    0.236023
2018-01-31    0.146409
Freq: 6M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [27]:
#example
daily_return_semestre = last_day_semestre.pct_change()
print(daily_return_semestre.fillna(method = 'bfill'))

Date
2017-01-31    0.236023
2017-07-31    0.236023
2018-01-31    0.146409
Freq: 6M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [28]:
#example
daily_return_semestre = last_day_semestre.pct_change()
daily_return_semestre.dropna()

Date
2017-07-31    0.236023
2018-01-31    0.146409
Freq: 6M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [72]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [77]:
#example
import pandas as pd

dict2 = {'TWTR': [143.5, 144.09, 142.73, 144.18, 143.77],'FB':[898.7, 911.71, 906.69, 918.59, 926.99],
        'NVDA':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict2, index = data_index)
print(df)

              TWTR      FB    NVDA
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [85]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906769
2017-12-26    40.843605
2017-12-27    40.850784
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [64]:
#example
df = aapl_table
print(df.Close.tail(3))
print(df['Volume'].tail(3))

Date
2017-12-27    40.850784
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [86]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852390  22.440252  21.750954  ...  257666000        0.0             0
2016-02-29  22.450753  22.768300  22.402079  ...  140865200        0.0             0
2016-03-31  25.431522  25.473243  25.236821  ...  103553600        0.0             0
2016-04-30  21.785533  21.954737  21.442491  ...  274126000        0.0             0
2016-05-31  23.226407  23.412965  23.044514  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296782  24.380733  24.177851  ...  110934800        0.0             0
2016-08-31  24.773056  24.986413  24.768365  ...  118649600        0.0             0
2016-09-30  26.367388  26.580747  26.212645  ...  145516400        0.0             0
2016-10-31  26.646394  26.782382  26.540886  ...  105677600        0.0             0
2016-11-30  26.300092  26.441490  25.986658  ...  144649200        0.0             0
2016-12-31  27.490197  27.619811  27.202687  ...  122345200        0.0             0

[12 rows x 7 columns]

In [66]:
#example
aapl_2017 = df['2017']
aapl_month = aapl_2017.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2017-01-31  28.550679  28.607238  28.425777  ...  196804000        0.0             0
2017-02-28  32.444866  32.530073  32.354924  ...   93931600        0.0             0
2017-03-31  34.016455  34.146633  33.848407  ...   78646800        0.0             0
2017-04-30  34.104032  34.153737  33.909951  ...   83441600        0.0             0
2017-05-31  36.592909  36.640441  36.215027  ...   97804800        0.0             0
2017-06-30  34.330354  34.451564  34.171121  ...   92096400        0.0             0
2017-07-31  35.625614  35.727811  35.204954  ...   79383600        0.0             0
2017-08-31  39.043832  39.253797  39.005656  ...  107140400        0.0             0
2017-09-30  36.555280  36.774788  36.266578  ...  105199200        0.0             0
2017-10-31  40.060253  40.477796  39.831203  ...  144187200        0.0             0
2017-11-30  40.810073  41.219541  40.333563  ...  166108800        0.0             0
2017-12-31  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [87]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852390  22.440252  21.750954  22.440252
2016-02-29  22.450753  22.768300  22.402079  22.411350
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-04-30  21.785533  21.954737  21.442491  21.727587
2016-05-31  23.226407  23.412965  23.044514  23.287039
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296782  24.380733  24.177851  24.301445
2016-08-31  24.773056  24.986413  24.768365  24.876217
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490197  27.619811  27.202687  27.294596

In [68]:
#example
aapl_bar = aapl_month[['Volume','Dividends', 'Stock Splits']]
print(aapl_bar)

               Volume  Dividends  Stock Splits
Date
2017-01-31  196804000        0.0             0
2017-02-28   93931600        0.0             0
2017-03-31   78646800        0.0             0
2017-04-30   83441600        0.0             0
2017-05-31   97804800        0.0             0
2017-06-30   92096400        0.0             0
2017-07-31   79383600        0.0             0
2017-08-31  107140400        0.0             0
2017-09-30  105199200        0.0             0
2017-10-31  144187200        0.0             0
2017-11-30  166108800        0.0             0
2017-12-31  103999600        0.0             0

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [88]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-04-30  21.785533  21.954737  21.442491  21.727587
2016-05-31  23.226407  23.412965  23.044514  23.287039
2016-06-30  22.023112  22.333262  21.990464  22.293619

In [49]:
#example
print(aapl_month.loc['2017-05':'2017-10',['Volume','Dividends', 'Stock Splits']])

               Volume  Dividends  Stock Splits
Date
2017-05-31   97804800        0.0             0
2017-06-30   92096400        0.0             0
2017-07-31   79383600        0.0             0
2017-08-31  107140400        0.0             0
2017-09-30  105199200        0.0             0
2017-10-31  144187200        0.0             0

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [89]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-08-31  24.773056  24.986413  24.768365  24.876217
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490197  27.619811  27.202687  27.294596

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [90]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852390  22.440252  21.750954  22.440252          NaN
2016-02-29  22.450753  22.768300  22.402079  22.411350    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [91]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [94]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [93]:
#example
print(missing[missing.rate_return == False])

             Open   High    Low  Close  rate_return
Date
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450753  22.768300  22.402079  22.411350    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226411  23.412969  23.044518  23.287043     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090062
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250     0.000000
2016-02-29  22.450753  22.768300  22.402079  22.411350    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226411  23.412969  23.044518  23.287043     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090062
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [95]:
#example
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'TWTR')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'FB')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     TWTR      FB
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [96]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852390  22.440252  21.750954  22.440252          NaN   3.110856
2016-02-29  22.450753  22.768300  22.402079  22.411350    -0.001288   3.109568
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211   3.229314
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921   3.078583
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063   3.190536
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504   3.277361
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334   3.281685
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601   3.259848
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955   3.306689

We can also join two DataFrames by rows. Consider these two DataFrames:

In [104]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490197  27.619811  27.202687  27.294596
2017-01-31  28.550679  28.607238  28.425777  28.597811
2017-02-28  32.444866  32.530073  32.354924  32.423565
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [97]:
#example
df_volume = aapl_table.loc['2016-03':'2017-10',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-03':'2017-10',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-03-31  103553600             0
2016-04-30  274126000             0
2016-05-31  169228800             0
2016-06-30  143345600             0
2016-07-31  110934800             0
2016-08-31  118649600             0
2016-09-30  145516400             0
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0
2017-05-31   97804800             0
2017-06-30   92096400             0
2017-07-31   79383600             0
2017-08-31  107140400             0
2017-09-30  105199200             0
2017-10-31  144187200             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-04-30  21.785533  21.954737  21.442491  21.727587
2016-05-31  23.226407  23.412965  23.044514  23.287039
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296782  24.380733  24.177851  24.301445
2016-08-31  24.773056  24.986413  24.768365  24.876217
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490197  27.619811  27.202687  27.294596
2017-01-31  28.550679  28.607238  28.425777  28.597811
2017-02-28  32.444866  32.530073  32.354924  32.423565
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889
2017-05-31  36.592909  36.640441  36.215027  36.305336
2017-06-30  34.330354  34.451564  34.171121  34.228161
2017-07-31  35.625614  35.727811  35.204954  35.347549
2017-08-31  39.043832  39.253797  39.005656  39.129726
2017-09-30  36.555280  36.774788  36.266578  36.772400
2017-10-31  40.060253  40.477796  39.831203  40.332253

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [105]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852390  22.440252  ...          NaN           NaN
2016-02-29  22.450753  22.768300  ...          NaN           NaN
2016-03-31  25.431522  25.473243  ...          NaN           NaN
2016-04-30  21.785533  21.954737  ...          NaN           NaN
2016-05-31  23.226407  23.412965  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296782  24.380733  ...          NaN           NaN
2016-08-31  24.773056  24.986413  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646394  26.782382  ...  105677600.0           0.0
2016-11-30  26.300092  26.441490  ...  144649200.0           0.0
2016-12-31  27.490197  27.619811  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [106]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646394  26.782382  ...  105677600             0
2016-11-30  26.300092  26.441490  ...  144649200             0
2016-12-31  27.490197  27.619811  ...  122345200             0

[3 rows x 7 columns]

In [107]:
#example
concat = pd.concat([aapl_bar,df_volume],axis = 0, join = 'inner')
print(concat)

Empty DataFrame
Columns: []
Index: [2016-01-31 00:00:00, 2016-02-29 00:00:00, 2016-03-31 00:00:00, 2016-04-30 00:00:00, 2016-05-31 00:00:00, 2016-06-30 00:00:00, 2016-07-31 00:00:00, 2016-08-31 00:00:00, 2016-09-30 00:00:00, 2016-10-31 00:00:00, 2016-11-30 00:00:00, 2016-12-31 00:00:00, 2016-10-31 00:00:00, 2016-11-30 00:00:00, 2016-12-31 00:00:00, 2017-01-31 00:00:00, 2017-02-28 00:00:00, 2017-03-31 00:00:00, 2017-04-30 00:00:00]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [108]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852390  22.440252  21.750954  22.440252          NaN
2016-02-29  22.450753  22.768300  22.402079  22.411350    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574          NaN
2016-12-31  27.490197  27.619811  27.202687  27.294596          NaN
2017-01-31  28.550679  28.607238  28.425777  28.597811          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450753  22.768300  22.402079  22.411350    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226411  23.412969  23.044518  23.287043     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042660
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090062
2016-08-31  24.773059  24.986417  24.768369  24.876221     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574          NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444877  32.530084  32.354935  32.423576          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [111]:
#example
concat = pd.concat([aapl_bar, df_2017], axis = 1)
print(concat)

                 Open       High        Low  ...       High        Low      Close
Date                                         ...
2016-01-31  21.852390  22.440252  21.750954  ...        NaN        NaN        NaN
2016-02-29  22.450753  22.768300  22.402079  ...        NaN        NaN        NaN
2016-03-31  25.431522  25.473243  25.236821  ...        NaN        NaN        NaN
2016-04-30  21.785533  21.954737  21.442491  ...        NaN        NaN        NaN
2016-05-31  23.226407  23.412965  23.044514  ...        NaN        NaN        NaN
2016-06-30  22.023112  22.333262  21.990464  ...        NaN        NaN        NaN
2016-07-31  24.296782  24.380733  24.177851  ...        NaN        NaN        NaN
2016-08-31  24.773056  24.986413  24.768365  ...        NaN        NaN        NaN
2016-09-30  26.367388  26.580747  26.212645  ...        NaN        NaN        NaN
2016-10-31  26.646394  26.782382  26.540886  ...  26.782382  26.540886  26.620604
2016-11-30  26.300092  26.441490  25.986658  ...  26.441490  25.986658  26.045574
2016-12-31  27.490197  27.619811  27.202687  ...  27.619811  27.202687  27.294596
2017-01-31        NaN        NaN        NaN  ...  28.607238  28.425777  28.597811
2017-02-28        NaN        NaN        NaN  ...  32.530073  32.354924  32.423565
2017-03-31        NaN        NaN        NaN  ...  34.146633  33.848407  34.002254
2017-04-30        NaN        NaN        NaN  ...  34.153737  33.909951  33.999889

[16 rows x 9 columns]

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [116]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 1)
print(concat)

                 Open       High        Low  ...       High        Low      Close
Date                                         ...
2016-01-31  21.852390  22.440252  21.750954  ...        NaN        NaN        NaN
2016-02-29  22.450753  22.768300  22.402079  ...        NaN        NaN        NaN
2016-03-31  25.431522  25.473243  25.236821  ...        NaN        NaN        NaN
2016-04-30  21.785533  21.954737  21.442491  ...        NaN        NaN        NaN
2016-05-31  23.226407  23.412965  23.044514  ...        NaN        NaN        NaN
2016-06-30  22.023112  22.333262  21.990464  ...        NaN        NaN        NaN
2016-07-31  24.296782  24.380733  24.177851  ...        NaN        NaN        NaN
2016-08-31  24.773056  24.986413  24.768365  ...        NaN        NaN        NaN
2016-09-30  26.367388  26.580747  26.212645  ...        NaN        NaN        NaN
2016-10-31  26.646394  26.782382  26.540886  ...  26.782382  26.540886  26.620604
2016-11-30  26.300092  26.441490  25.986658  ...  26.441490  25.986658  26.045574
2016-12-31  27.490197  27.619811  27.202687  ...  27.619811  27.202687  27.294596
2017-01-31        NaN        NaN        NaN  ...  28.607238  28.425777  28.597811
2017-02-28        NaN        NaN        NaN  ...  32.530073  32.354924  32.423565
2017-03-31        NaN        NaN        NaN  ...  34.146633  33.848407  34.002254
2017-04-30        NaN        NaN        NaN  ...  34.153737  33.909951  33.999889

[16 rows x 9 columns]

In [117]:
#example
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852390  22.440252  21.750954  22.440252          NaN        NaN
2016-02-29  22.450753  22.768300  22.402079  22.411350    -0.001288        NaN
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211        NaN
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921        NaN
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063        NaN
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504        NaN
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334        NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601        NaN
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955        NaN
2016-10-31        NaN  26.782382  26.540886  26.620604          NaN  26.646394
2016-11-30        NaN  26.441490  25.986658  26.045574          NaN  26.300092
2016-12-31        NaN  27.619811  27.202687  27.294596          NaN  27.490197
2017-01-31        NaN  28.607238  28.425777  28.597811          NaN  28.550679
2017-02-28        NaN  32.530073  32.354924  32.423565          NaN  32.444866
2017-03-31        NaN  34.146633  33.848407  34.002254          NaN  34.016455
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.